body { 
color: darkmagenta;
blackground: lightpink;
}
header{
  border-botton:solid 2px rgb(136,656,188);
  padding: 20px;
  front-size: 14px;
  color: rgb(136,656,188);
}
section {
  backgroud: rgb(136,656,188);
  padding-botton:80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.chamada-texto{
  margin-right: 5%;
}
